*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../image/quotebackground.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;
    padding: 20px;
    position: relative;
}

/* dark overlay */
body::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
}

/* content wrapper */
.motivation{
    text-align: center;
    z-index: 1;
    color: white;
    max-width: 700px;
}

/* heading */
h1{
    font-size: 60px;
    margin-bottom: 20px;
}

/* text */
p{
    font-size: 22px;
    margin-bottom: 8px;
    opacity: 0.9;
}


/* buttons container */
.index-btn{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* big button */
.big-btn{
    width: 300px;
    height: 55px;
    font-size: 22px;
    border-radius: 12px;
    border: none;
    background: #7b2ff7;
    color: aliceblue;
    cursor: pointer;
    transition: 0.3s;
}

/* small button */
.small-btn{
    width: 180px;
    height: 50px;
    font-size: 20px;
    border-radius: 12px;
    border: none;
    background: #3a86ff;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

/* hover */
button:hover{
    background: #334155;
    transform: scale(1.05);
}


/* MOBILE RESPONSIVE */
@media (max-width: 600px){

    h1{
        font-size: 42px;
        line-height: 1.2;
    }

    p{
        font-size: 18px;
    }

    .index-btn{
        margin-top: 50px;
        width: 100%;
        gap: 18px;
    }

    /* BIG BUTTON (mobile) */
    .big-btn{
        width: 90%;
        max-width: 420px;
        height: 60px;
        font-size: 22px;
    }

    /* SMALL BUTTON (mobile) */
    .small-btn{
        width: 75%;
        max-width: 320px;
        height: 55px;
        font-size: 20px;
    }
}