body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

.app{
    text-align: center;
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}


h1{
    margin-bottom: 10px;
    font-size: 2rem;
}

.subtitle{
    opacity: 0.7;
    margin-bottom: 30px;
    font-size: 1rem;
}

/* quote card */
.quote-card{
    width: 90%;             
    max-width: 400px;        
    margin: auto;
    padding: 40px 25px;      
    border-radius: 20px;
    background: linear-gradient(135deg, #1e293b, #0f766e);
    box-shadow: 0 10px 40px rgba(0,0,0,0.5);
    position: relative;
}

.quote-icon{
    font-size: 40px;
    opacity: 0.5;
}

.quote-card h2{
    margin-top: 20px;
    font-size: 22px;
    line-height: 1.6;      
}

/* buttons container */
.buttons{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

/*  button style */
button{
    padding: 12px 18px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background: #1f2937;
    color: white;
    font-size: 1rem;       
    transition: 0.3s;
}

button:hover{
    background: #334155;
}

/* footer */
.footer{
    margin-top: 30px;
    opacity: 0.7;
    font-size: 0.95rem;
}

/* MOBILE RESPONSIVE */
@media (max-width: 600px){

    h1{
        font-size: 1.6rem;
    }

    .quote-card{
        padding: 30px 20px;
    }

    .quote-card h2{
        font-size: 18px;
    }

  
    .buttons{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
    }

    /* makes buttons balanced */
    button{
        flex: 1 1 120px;
        max-width: 140px;
        height: 48px;
        font-size: 14px;
    }
}