<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/home.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOTIVATION</title>
</head>
<body>
    <div class="motivation">
       <h1>You've got this.</h1>
       <p>One moment can change</p>
       <p>Your entire day.</p>


        <div class="index-btn">
              <a href="/quote"><button class="big-btn">Get Motivation </button></a>
      <a href="/preference"><button class="small-btn">Customize </button></a>
        </div>
    
    </div>
</body>
</html>